appdirs==1.4.3
cycler==0.10.0
functools32==3.2.3.post2
matplotlib==2.0.2
numpy==1.12.1
olefile==0.44
packaging==16.8
Pillow==4.2.1
pyparsing==2.2.0
pytesseract==0.1.7
python-dateutil==2.6.1
pytz==2017.2
six==1.10.0
subprocess32==3.2.7
